{
  "extends": "@istanbuljs/nyc-config-typescript",
  "instrument": true,
  "sourceMap": true,
  "cache": false,
  "all": true,
  "include": [
    "packages/*/src/**/*.ts",
    "packages/*/src/**/*.js"
  ],
  "exclude": [
    "**/*.spec.ts",
    "**/*.test.ts",
    "**/test/**",
    "**/tests/**",
    "**/examples/**",
    "**/stories/**",
    "packages/docs/**"
  ]
}
