/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}



.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs3DBanner {
  background-color: #080a2d;
  color: white;
  display: flex;
  padding-top: 17px;
  padding-bottom: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-theme='dark'] .cs3DBanner {
  background-color: #080a2d;
  color: white;
}

.cs3DLogo {
  width: 102px;
  height: 102px;
  margin-top: 41px;
}

.cornerstoneText {
  color: #5acce6;
  font-size: 68px;
  font-family: 'Inter', sans-serif;
}

.threeDText {
  color: #0a58ed;
  font-size: 68px;
  font-family: 'Inter', sans-serif;
}

.textDescription {
  width: 600px;
  text-align: center;
  margin-top: 24px;
}

.learnMore {
  margin-top: 20px;
  background-color: #0944b3;
  color: white;
  font-size: 18px;
  padding: 9px 20px;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dotBackground {
  max-width: 96px;
  max-height: 6px;
}

.newPart {
  width: 65px;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 11px 7px 15px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #5e16eb;
}

.announcementBar {
  display: flex
}

.smallScreenAnnouncement{
  display: none
}

.announcementPart{
  display: flex;
  padding: 6px 14px 6px 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #0e235c;
}


@media screen and (max-width: 425px) {
  .cornerstoneText{
    font-size: 50px;
  }

  .threeDText{
    font-size: 50px;

  }

  .textDescription {
    max-width: 400px;
  }

  .smallScreenAnnouncement{
    display: inline;
  }

  .announcementBar{
    max-width: 300px;
  }
}
